@media only screen and ( min-width: 1050px ) and ( max-width: 1750px ){
  .high-wrap .imageBox img {width: 100%;}
  .home {
    .banner-hme{padding: 200px 50px 100px;}
    .banner-hme .text-center h1{font-size:50px; line-height:55px;}
    .deal-info h3{font-size:20px;}
    .deal-price{font-size:16px;}
    .highlightSection{padding: 2rem 0rem;}
    .highlightSection h2{font-size:40px; margin:0;}
    .highlightSection .description{margin-bottom:5px; display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;}
    .infoBox .title{font-size:40px; margin:0;}
    .container-prd .high-wrap{padding:30px;}
    .features{margin-bottom:10px;}
    .features li{font-size:15px;  margin: 0; line-height:23px;}
    input + span{font-size:20px;}
    .pricingBox span.price {font-size: 20px;}
    .description + p{font-size:16px;}
    .viewAll a{font-size:18px;padding: 15px 35px;}
    .viewAll a svg{width: 22px; height: auto;}
    section.new-collection{padding: 100px 100px;}
    .new-collection .col-text h2{font-size: 40px; line-height: 45px;}
    .image-accordion-section .left-image{padding-right: 0; width: 46%;}
    .right-accordion{max-width: 48%; padding-left:0;}
    .image-accordion-section .right-accordion h2{line-height:45px; font-size:40px;}
    .botenical-hme{padding: 100px 50px; background-size: cover;}
    .botenical-hme .botenical-txt h2{font-size:40px;}
    .botenical-hme .botenical-txt p{font-size: 18px;}
    .pricingBox{margin-bottom:10px;}

  }
  .about{
    .about-container {padding: 0 35px;}
    .hero-section a.btn{font-size:16px;}
    .brand-section .brnd-desc p{font-size:18px;}
    .brand-section img{max-width:250px;}
    .text-block h3{font-size:40px;}
    .info-image{width:47%;}
    .text-block h4{margin-top:10px; font-size: 40px;}
    .video-overlay h2{font-size:40px;}
    .video-overlay p{font-size:20px;}
    .board-section h2{font-size: 40px;}
    .board-member{max-width: 300px;}

  }
  .faq{
    .faq-sidebar{max-width:300px;}
    .faq-sidebar h3{font-size:22px;}
    .faq-sidebar li{font-size:20px;}
    .faq-content h2{font-size:35px;}
    .faq-answer{padding:20px;}
  }
  .contact{
    .get-started h2{font-size:40px; line-height:45px;}
    .contact-container .lead{font-size:20px; margin-bottom:0px;}
    .contact-form{padding: 40px 30px;}
    .contact-form .field-group{width: 48%; margin-bottom: 0;}
    .field-group label{font-size:20px; line-height:28px;}
    .contact-form .field-group.full-width.captcha label{font-size:18px;}
    .btn-submit{font-size:18px;}
    .contact-info{padding:40px;}
    .always-assist h2{font-size:35px;line-height: 40px;}
    .info-columns p{font-size: 20px; margin-bottom: 10px;}
    .info-columns h3{margin-bottom:0;}
  }
  .collection{
    .product-item img{height:auto;}
    .product-item h4{font-size:20px;}
  }
  .product{
    .prd-main-wrap{gap:20px;}
    .prd-main-wrap .product-main h1{font-size:35px; margin-bottom:10px;}
    .prd-main-wrap .product-main .product-price{font-size:20px;}
    .product-tabs .tab-buttons button{font-size:18px;}
    .product-tabs .tab-content div{font-size: 16px; line-height: 26px;}
    .Product-extra-info ul li{font-size:16px;}
    .product-extras {
      .product-text{padding: 30px;}
      .product-text h2{font-size:35px;}
      .product-text ul li strong{font-size:20px;}
      .product-text ul li{ margin-bottom: 10px;font-size: 16px; line-height: 24px; padding-bottom:10px; list-style: none;}
      .video-section .video-overlay h2{font-size:35px;}
      .product-text h4{margin-bottom:10px;}
      .product-block.abt .product-text p{font-size: 16px; line-height: 26px; margin-bottom:10px;}
    } 
    .recommended-products h2{font-size:40px;}
    .product-item img{height:auto;}
    .product-item h4{font-size:20px;}
    .product-item small{font-size:16px;}
  }
  body .testimonials h2{font-size:40px;}
  body .testimonials .testimonials-wrap > div .testi-head img{height:80px;}
  body .testimonials .testimonials-wrap > div .testi-head h4{font-size:22px;}
  body .testimonials .testimonials-wrap > div .testi-head p.text-gray-500{font-size:16px;}
  body .testimonials .testimonials-wrap > div h5{font-size:20px;}
  body .testimonials .testimonials-wrap > div p.text-sm{font-size:18px;}
  body .testimonials .testimonials-wrap > div{width: calc(33.33% - 20px);padding: 30px 25px;}
  body .faq-title{font-size:40px; margin-top: 0;}

}

@media only screen and ( min-width: 768px ) and ( max-width: 1024px )
{
  .highlightSection .container-prd .high-wrap{display:block;}
  .container .banner-hme{padding: 100px 20px 100px;}
  .container .banner-hme .text-center {max-width: 100%;}
  .container .banner-hme .text-center h1{font-size:40px;}
  .highlightSection h2{font-size:40px;}
  .infoBox h3.title {font-size: 40px; }
  .highlightSection .container-prd .high-wrap{padding:20px;}
  .highlightSection .imageBox img{width:100%; margin-top:20px;}
  .highlightSection .infoBox{padding-right:0;} 
  .container section.new-collection{padding: 100px 30px;}
  .container .new-collection .col-text h2{ font-size: 40px;line-height: 45px;}
  .container .testimonials h2{font-size: 40px;}
  .container .testimonials .testimonials-wrap > div{width:100%;}
  .container .image-accordion-section .left-image {padding-right: 0;}
  .container .image-accordion-section .right-accordion{padding-left:0; max-width:100%;}
  .container .image-accordion-section .right-accordion h2{font-size:40px;}
  .container .botenical-hme{padding:50px 20px;}
  .container .botenical-hme .botenical-txt h2{font-size:40px; line-height:50px;}
  .botenical-hme .botenical-txt p{font-size:18px;}
  .header nav.header-ctas {display: none;}
  .header nav.header-ctas {display: none;}
  .header nav.header-menu-desktop {order: 2;}
  .home .header > a {order: 1;position: relative;left: 0;margin-left: 0;}
  body:not(.home) .header > a {order: 1; margin-left: 0;position: relative;left: auto;}
  body .container, body .container-prd{padding:0 30px;}
  .about-container .hero-section .hero-text{flex: 2 1 235px;
  .subheading{font-size:12px;} h1{font-size:30px; line-height:35px;}
  .description{font-size:13px;}
  a.btn{margin-top:0; font-size: 12px; padding: 15px 25px;}
  }
  .info-section{
    .text-block{width:100%;}
    .text-block h3{font-size:40px;}
    .text-block h4{   margin-top: 50px; font-size: 40px;}
  }
  .video-section .video-overlay h2{font-size:40px}
  section.video-section { margin-top: 0;}
  .board-section h2{font-size:40px;}
  .board-grid .board-member{width:29%;}
  .board-grid .board-member h4{font-size:17px;}
  .about .about-container {padding: 0 15px;}
  .about .brand-section .brnd-desc p{font-size:18px;}
  .hero-section .hero-image {flex: 1 1 30%; max-width: 30%;}
  .faq .faq-page{ padding: 40px 15px;}
  .faq .faq-sidebar{max-width:200px; padding:20px;
    h3{font-size:22px;}
    li{font-size:20px;}
  }
  .faq .faq-content{
     h2{font-size:30px;}
     .faq-question{padding:15px 20px; text-align: left;}
     span.toggle-icon {background:transparent; border:none; text-align: right;}
    span.toggle-icon span{font-size: 18px; color:#000;}
    .faq-answer{font-size:16px; padding:20px; }
  }
  .contact .contact-container{padding:40px 15px;
    .get-started h2{font-size: 40px; line-height:40px;}
    .contact-form{padding:20px;}
    .field-group label{font-size:18px; line-height: 18px; margin: 0;}
    .contact-form .field-group{margin-bottom:0; width:100%;}
    .contact-form .field-group.full-width.captcha label{font-size:14px;}
    .btn-submit{font-size:18px;}
    .contact-info{padding:20px;}
    .always-assist { width: 26%;}
    .info-columns p{font-size:18px;}
    .always-assist h2{font-size:25px;}
    .info-columns small{line-height:26px; font-size:18px;}
  }
  .footer-columns .footer-col {width: 46%;}
  .collection .products-grid {display: flex;flex-wrap: wrap;gap: 15px;
     a.product-item {width: 48.8%;}
     a.product-item img {height: auto;} 
     a.product-item h4 {font-size: 20px;}                       
  } 
  .product .container {
    padding: 0 15px;
    .prd-main-wrap{gap:25px;
     .product-image{width:100%;}
    .product-main{ width: 100%;
    h1{font-size:40px;margin-bottom: 0;}
    .product-price{font-size: 20px;}
    .tab-buttons{display:flex;}
    .product-tabs .tab-buttons button{ font-size:18px; text-align:left;}
   } 
  }
  .product-extras .product-text h2{font-size:40px;}
  .product-extras .product-text{width:100%;}
  .product-extras .video-section .video-overlay h2{font-size:35px;}
  .product-extras .face-spry .product-text{padding:40px 0; }
  .container {padding: 0;}
  .recommended-products h2{font-size:40px;}
  .recommended-products-grid{grid-template-columns: repeat(2, 1fr);}
  .recommended-products-grid .product-item img{height:auto;}
  }
  header.header.scrolled{width: calc(100% - 60px);}
}
 


@media only screen and ( max-width: 767px ){
  .container{padding:0 20px !important;}
  .promo-bnr{font-size:12px;}
  .home .header > a svg, body:not(.home) .header > a svg{width:185px;}
  .home .header > a{position: relative; left: 0;margin-left: 0;margin-top: 0;}
  body:not(.home) .header > a { margin-left: 0;position: relative;left: auto;}
  .home .header > a img {width: 180px;}
  .header-ctas a, .header-ctas a + .reset { display: none;}
  .home{
  .banner-hme{    padding: 100px 20px 50px ;}
  .banner-hme .text-center {max-width: 100% ;}
  .banner-hme .text-center h1{font-size:30px ; margin: 10px 0; line-height: 35px;}
  .banner-hme .text-center p.text-lg{font-size:16px;}
  .banner-hme .text-center a{margin-top:20px;}
  .deal-section{padding: 30px 0px;}
  .deal-info h3{font-size:18px;}
  .highlightSection{padding:0 0 20px ;}
  .highlightSection h2{font-size:30px; line-height:35px;}
  .infoBox h3.title {font-size: 30px;}
  .actions .qty {display: inline-block;}
  .actions + button.buyNow {margin-bottom: 20px;}
  .actions button.addToCart {margin-top: 20px;padding: 13px 40px;width: 100%;}
  .actions{display:inline-block ; width:100%;}
  .note{margin: 8px 0 0; font-size: 15px;}
  .viewAll{padding:0 15px;}
  .viewAll a{padding: 15px 30px !important; font-size: 16px !important;}
   .viewAll a svg{width: 22px; height: 19px;}
  }
  
  
  .container-prd{padding:0 20px !important;}
  .container-prd .high-wrap{padding:20px !important;  display: block !important;}
  
  .infoBox{padding-right:0 !important;}
  .lt-pnl input + span{font-size: 18px; line-height: 20px;}
  .lt-pnl + .price, .lt-pnl + span .price{font-size:16px;}
  .price + span.strike{font-size:16px;}
  .pricingBox select.select { font-size: 16px;}
  .features li{font-size:16px; line-height:26px;}
  
  .imageBox img {width: 100% !important;}
  
  .container section.new-collection{padding: 50px 20px;}
   .container .new-collection .col-text p{margin-bottom:0;}
  .container .new-collection .col-text h2{line-height:35px; font-size:30px;}
   .container .testimonials {margin-top: 20px;}
  .container .testimonials .testimonials-wrap {display: block;}
  .container .testimonials .testimonials-wrap > div {width: 100%;padding: 20px; margin-bottom: 20px;}
  .container .testimonials h2 {font-size: 30px; line-height: 35px; text-align:center;}
  .container .testimonials .testimonials-wrap > div .testi-head img{height:80px}
  .container .testimonials .testimonials-wrap > div .testi-head h4{font-size:20px;}
  .container .testimonials .testimonials-wrap > div h5{font-size:18px;}
  .container .testimonials .testimonials-wrap > div p.text-sm{margin: 10px 0 10px; font-size:16px;}
  .container .testimonials .testimonials-wrap > div .flex.gap-1.text-black{font-size:24px;}
  .container .image-accordion-section{padding:0}
  .container .image-accordion-section .left-image {padding-right: 0;}
  .container .image-accordion-section  .right-accordion{padding-left:0; }
  .container .image-accordion-section .right-accordion h2{font-size: 30px; line-height: 35px;}
  .container .image-accordion-section .accordion-title{padding:0.5rem 0; font-size:18px;}
  .container .image-accordion-section .accordion-content{font-size:16px;}
  .container .botenical-hme{padding:50px 20px;}
  .container .botenical-hme .botenical-txt p.subtitle{ font-size: 16px;margin-bottom:5px;}
  .container .botenical-hme .botenical-txt h2{font-size:30px; line-height:35px;}
  .container .botenical-hme .botenical-txt p{font-size:16px;}
  .container .botenical-hme .botenical-txt a.btn-primary.btn{margin-top:15px;}
  .footer{padding:20px;}
  .footer .footer-logo img{max-width:250px;}
  .payment-icons img{  height: 18px;margin-left: 0;margin-top: 10px;}
  .faq-bnr{padding:35px 0 !important;}
  .faq-title{font-size:30px !important; margin-top:0 !important}
  aside main {margin: 20px 20px 0 !important;}
  .collection .products-grid {display: block;}
.collection .products-grid .product-item img {height: auto;}
.collection .products-grid .product-item {margin-bottom: 20px;display: inline-block;}
aside main nav a.header-menu-item {font-size: 18px;font-family: 'So:hne Breit';}
aside main nav a {font-size: 0;}
.about .about-container{padding:0px 3px;}
.about-container .hero-text h1{font-size: 30px; line-height: 35px;}
.hero-section{padding:40px 0;}
.about .hero-section{padding:40px 10px;}
.about .hero-section a.btn{margin: 0 15px 0; font-size:15px; padding: 15px 25px; }
.about .hero-section a.btn svg {height: 18px;}
.about .hero-section img.hero-image {order: 1;}
.about .hero-section .hero-text {order: 2;}
.about .brand-section img {max-width: 250px;}
.about .brand-section{ padding: 30px 20px; margin-bottom: 20px;}
.about .brand-section .brnd-desc p{font-size:16px;}
.about .info-section .text-block {width: 100%;padding: 20px;}
.about .info-section .text-block h3 {font-size: 30px;line-height: 35px;}
.about .text-block h4{ margin-top: 20px;font-size: 30px;}
.about .info-section img.info-image {order: 1;}
.about .info-section .text-block {order: 2;}
.about .info-section{padding:20px 0;}
.about .video-overlay h2{font-size:30px; line-height:35px;}
.about .video-overlay p{font-size:18px;}
.about .video-section{margin: 20px 0 40px; height: auto; padding: 30px 0;}
.about .video-overlay .play-icon img {width: 50px;}
.about .board-section{padding: 40px 20px;}
.about .board-section h2{font-size:30px; line-height:35px;}
.about .board-section + .container {padding: 0 !important;}
.about .board-intro{font-size:16px;}
.about .board-member h4{font-size:20px;}
.about .board-member p {font-size: 16px;}
.faq .faq-page{ padding: 40px 3px;}
.faq .faq-container{flex-wrap:wrap;}
.faq .faq-sidebar{max-width:100%; padding: 40px 20px !important; }
.faq .faq-sidebar li{font-size:18px;}
.faq .faq-sidebar h3{font-size:20px;}
.faq .faq-content h2{font-size: 25px; line-height: 30px;}
.faq .faq-question{padding: 15px 20px; text-align: left; font-size:16px;}
.faq span.toggle-icon {background:transparent; border:none; text-align: right;}
.faq span.toggle-icon span{font-size: 18px; color:#000;}
.faq .faq-answer{font-size:15px; padding:20px; }
.contact .contact-container{padding:40px 3px;}
.contact .contact-container .get-started h2 {font-size: 28px; line-height: 32px;}
.contact .contact-container .lead{font-size:18px}
.contact .get-started{padding:40px 0 0;}
.contact  .contact-form{padding:20px; gap:10px;}
.contact .field-group label{font-size:16px; line-height: 18px; margin: 0;}
.contact .contact-form .field-group{margin-bottom:0; width:100%;}
.contact .contact-form .field-group.full-width.captcha label{font-size:14px;}
.contact .btn-submit{font-size:16px;}
.contact .contact-info{padding:20px;}
.contact  .always-assist {width: 100%;}
.contact .always-assist h2{font-size: 25px; line-height: 30px; margin-bottom: 0;}
.contact .info-columns{gap:20px;  padding: 20px 0 40px;}
.contact .info-columns p{font-size:18px; margin-bottom:5px;}
.contact .info-columns h3{margin-bottom:5px; padding-bottom:5px;}
.product .container {padding: 0 0px !important;}
.product .prd-main-wrap .product-image{width:100%;}
.product .prd-main-wrap{gap:20px; padding-bottom: 0;}
.product .prd-main-wrap .product-main h1{font-size:30px; line-height:35px; margin-bottom:10px;}
.product .product-tabs{padding-top:0;}
.prd-main-wrap .product-main .product-price{font-size:20px;}
.product .tab-buttons{display:block;}
.product-tabs .tab-buttons button{display:block; width:100%;border-bottom: 1px solid #000; width: 100%; text-align: left; font-size:18px; }
.prd-main-wrap .product-main {width: 100%;}
.product .product-extras .product-text {padding: 20px; width:100%;}
.product .product-extras .product-text h2{font-size:30px;}
.product .product-extras .video-section img{height:200px;}
.product .product-extras .video-section .video-overlay{top:0;}
.product .product-extras .video-section .video-overlay h2{margin: 30px 0 0; font-size: 20px; line-height: 30px;}
.product .product-extras .video-section .video-overlay .video-button{height: 105px;}
.product .product-extras .product-block.face-spry{padding: 20px 20px 20px;}
.product .product-extras .face-spry .product-text, .product .product-extras .product-block.abt .product-text{padding: 20px 0;}
.product .product-extras .product-text ul li ul li{list-style:none;}
.product .product-extras .product-block.abt{ padding: 0 20px 20px; gap:0;}
.product .product-extras .product-block.abt .product-text p{font-size:16px; line-height:26PX;}
.recommended-products h2{ font-size: 30px; line-height: 35px; text-align:center;}
.recommended-products .recommended-products-grid{display:block;}
.product-item img{height:auto;}
.product-item{margin-bottom:20px; display:inline-block;}
.product-item h4{font-size:18px;}
.product-item small{font-size:16px;}
.product-tabs .tab-content div{font-size:16px;}
.Product-extra-info ul li{font-size:16px;}
.footer-logo{margin-bottom:0;}
.footer-columns .footer-col {width: 100%;} 
.footer-col ul{text-align:center;} 
.footer-col h4{text-align:center;}
.footer-col h4:after{left: 50%; margin-left: -25px;}
.footer-columns{gap:1rem;}
.footer-bottom{justify-content:center;}
header.header.scrolled{width: calc(100% - 40px);}
} 