.deal-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 24px;
  padding: 40px 0px;
}

.deal-card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.deal-card:hover {
  transform: translateY(-5px);
}

.deal-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.deal-badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 12px;
  border-radius: 999px;
}

.deal-info {
  padding: 16px;
 
  margin-top: auto;
  position: absolute;
    bottom: 0;
    background: transparent;
}

.deal-info h3 {
  margin: 0;
    font-size: 24px;
    font-weight: bold;
    font-family: 'So:hne Breit Fett';
    color: #fff;
}

.deal-price {
  margin-top: 8px;
    font-size: 18px;
    color: #fff;
    font-family: 'So:hne Breit Kra:ftig';
}
.deal-price s {
  color: #aaa;
  margin-right: 5px;
}

.deal-arrow {
  position: absolute;
  bottom: 12px;
  right: 12px;
  background: #000;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  font-size: 18px;
  text-decoration: none;
}

